# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
coverage/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# Prisma
/generated/prisma

# Cache / Local auth / tokens
.cache/
*.token

# Backup files
*.bak

