# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
coverage/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example
*.token
token.txt
colab_token.txt
admin.token
collab.token
*.auth.json

# caches
.cache/
.turbo/
.vscode/
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# prisma
/generated/prisma/

# OS
Thumbs.db

