name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: nexogestao
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d nexogestao"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=20

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 8.15.4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install
        run: pnpm i

      - name: Prisma generate
        run: pnpm --filter ./apps/api exec prisma generate

      - name: Migrate deploy
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost:5432/nexogestao?schema=public
        run: pnpm --filter ./apps/api exec prisma migrate deploy

      - name: Seed
        env:
          DATABASE_URL: postgresql://postgres:postgres@localhost:5432/nexogestao?schema=public
        run: pnpm --filter ./apps/api exec prisma db seed
